*/Link*
*/18.03*
*/18.085
./ode/immunology/*
*/solved_problems.txt
ode/supp_notes.pdf
ode/symtest.py
ode/Elementary*
*/*/_region*
*/*/*.log
*/*/*.pyc
*/*/*.aux
*/CompSci_Strang.djvu
calc_multi/*/*.pdf
ode/*/ode*.pdf
compscieng*/*/comp*.pdf
analytic_pde/*/*.pdf
pde/*/*.pdf
stat/*/stat*.pdf
linear/*/*.pdf
func_analysis/*/*.pdf
data/*/*.pdf
stat/stat_hadoop_rnd_svd/*.dat
stat/stat_hadoop_rnd_svd/netflix/*.dat
