*/Link*
*/18.03*
*/18.085
./ode/immunology/*
*/solved_problems.txt
ode/supp_notes.pdf
ode/symtest.py
ode/Elementary*
*/*/_region*
*/*/*.log
*/*/*.pyc
*/*/*.aux
*/CompSci_Strang.djvu
calc_multi/*/*.pdf
ode/*/*.pdf
compscieng1/*/*.pdf
analytic_pde/*/*.pdf
pde/*/*.pdf
stat/*/*.pdf
linear/*/*.pdf
